.DS_Store
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/

*.egg-info/
dist/
build/
docs/_build/

# REGCOIL outputs
examples/**/regcoil_out*.nc
examples/**/regcoil_out*.log

# Example postprocessing artifacts
examples/**/figures_*/
examples/**/vtk_*/
examples/**/coils.*
examples/**/outputs_*/
